
{% extends 'base.njk' %}

{% set title = 'new' %}

{% block styles %}
{% endblock %}

{% block content %}

<ul>
        {% for member  in data.members %}
        <li>{{member.id}}</li>
        {% endfor %}
</ul>

<form action="new/{{member.id}}" method="POST">

        {% if messages.success %}
        <div class="alert alert-success" role="alert">{{ messages.success }}</div>
        {% endif %}
        {% if messages.error %}
        <div class="alert alert-danger" role="alert">{{ messages.error }}</div>
        {% endif %}
        <div class="mb-2">
                <label for="name" class="form-label">name </label>
                <input
                        type="text"
                        class="form-control {% if messages.name_error %}is-invalid{% endif %}"
                        id="name"
                        name="name"
                        value="{{ messages.name or '' }}">
                <div class="invalid-feedback">{{ messages.name_error }}</div>

        </div>
        <div class="mb-2">
                <label for="name" class="form-label">age</label>
                <input
                        type="age"
                        class="form-control {% if messages.name_error %}is-invalid{% endif %}"
                        id="age"
                        name="age"
                        value="{{ messages.name or '' }}">
                <div class="invalid-feedback">{{ messages.name_error }}</div>
        </div>

        <div>
                <button type="submit" class="btn btn-primary">soumettre</button>
        </div>
</form>
{% endblock %}

{% block scripts %}
{% endblock %}